header {
    font-family: "Lato", sans-serif;
    margin: 0;
}

body{
    font-family: "Lato", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #38B6FF;
    color: white;
    font-weight: bold;
    padding: 5px 20px;
}

.contenido {
    flex-grow: 1; /* Hace que el contenido ocupe el espacio restante */
}

.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #38B6FF;
    color: white;
    font-weight: bold;
    padding: 5px 20px;
}


.cuadro-texto {
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 20px;
    float: right; /* Para posicionar a la derecha */
    margin-right: 20px; /* Margen derecho */
}

.cuadro-texto {
    width: 40%; /* Ancho del cuadro de texto */
    color: black;
    background-color: white;
    padding: 20px; /* Ajustar el padding según necesites */
    border: 2px solid #000000;
    border-radius: 10px;
    margin-right: 20px; /* Margen derecho */
}

#texto-no-editable {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: left;
    height: auto;
    word-wrap: break-word;
}


#texto-editable {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: left;
    height: auto;
    word-wrap: break-word;
}

.nuevo-cuadro-texto {
    width: 40%; /* Ancho del cuadro de texto */
    color: black;
    background-color: white;
    padding: 20px; /* Ajustar el padding según necesites */
    border: 2px solid #000000;
    border-radius: 10px;
    margin-right: 10px; /* Margen derecho */
    margin-left: 20px;
    margin-top: 20px; /* Margen superior */
    float: left; /* Pegar a la izquierda */
}

.boton {
    padding: 15px 40px;
    background-color: #38B6FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}

.boton:hover {
    background-color: #2980b9;
}

footer {
    margin-top: 20px;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
